/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: akzidenzmedium;
  src: url("../font/AkzidenzGrotesk-Medium.otf") format("opentype"); }
@font-face {
  font-family: akzidenzregular;
  src: url("../font/AkzidenzGrotesk-Regular.otf") format("opentype"); }
@font-face {
  font-family: akzidenzlight;
  src: url("../font/AkzidenzGrotesk-Light.otf") format("opentype"); }
html {
  color: white;
  font-family: akzidenzlight; }

h1, h2 {
  font-family: akzidenzregular; }

p {
  line-height: 19px;
  text-align: justify; }

p, li {
  font-size: 14px; }

a, a:visited, a:active, a:link {
  color: white;
  text-decoration: none; }

html, body, .main-left, .main-right {
  width: 100%;
  height: 100%; }

body {
  background: #282828; }

main {
  margin: 0 auto; }
  @media (min-width: 50em) {
    main {
      height: 650px;
      max-width: 970.1492537313px; } }
  @media (min-height: 650px) and (min-width: 50em) {
    main {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.main-left {
  height: 500px; }

.main-right {
  height: 600px; }

.main-left, .main-right {
  position: relative; }
  @media (min-width: 50em) {
    .main-left, .main-right {
      height: 100%; } }

.contact-info-text {
  padding: 15px; }
  .contact-info-text span {
    color: grey; }

.home .contact-info-text {
  position: absolute;
  bottom: 0;
  left: 0; }

.logo {
  max-width: 260px;
  padding: 15px; }

nav {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  margin-right: 25px; }
  @media (min-width: 50em) {
    nav {
      margin-right: 0; } }
  nav ul {
    -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
    nav ul li {
      display: inline;
      margin-left: 15px; }
  nav .current_page_item {
    border-bottom: 2px solid white; }

main {
  background: #282828; }

.main-left, .main-right {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 50em) {
  .main-left {
    width: 49.1525423729%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }
.main-left h1 {
  font-size: 25px;
  margin-bottom: 9px; }
  .main-left h1 hr {
    margin: 4px 0 5px;
    border-bottom-width: 3px; }
.main-left li {
  padding-top: 3px; }

@media (min-width: 50em) {
  .main-right {
    width: 49.1525423729%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
.main-right p {
  position: absolute;
  bottom: 0;
  padding: 15px; }
.main-right h2 {
  font-size: 33px;
  line-height: 40px;
  padding: 15px; }
.main-right h2:last-of-type {
  text-align: right; }
