main {
  background: $black-bg;
}

.main-left, .main-right {
  @include grid-span(12,1);
}

.main-left {
  @include breakpoint($tab) {
    @include grid-span(6,1);
  }
  h1 {
    font-size: 25px;
    margin-bottom: 9px;
    hr {
      margin: 4px 0 5px;
      border-bottom-width: 3px;
    }
  }
  li {
    padding-top: 3px;
  }
}

.main-right {
  @include breakpoint($tab) {
      @include grid-span(6,7);
  }

  p {
    position: absolute;
    bottom: 0;
    padding: $padding;
  }

  h2 {
    font-size: 33px;
    line-height: 40px;
    padding: $padding;
  }

  h2:last-of-type {
    text-align: right;
  }
}
