nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%);
  margin-right: 25px;
  @include breakpoint($tab) {
    margin-right: 0;
  }
  ul {
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 50% 50%;
    li {
      display: inline;
      margin-left: $padding;
    }
  }
  .active {
    border-bottom: 2px solid white;
  }
}
